//**this is stored button**//
cityButton { 
    display: block;
    align-items: left;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 1rem;
    background-color: #0d36cc;
    border-radius: 5px;
    padding: 2px 20px;
    color: white;
    border: 0;
    width: 15%;
    height: 80%;
  }
//**this is search button**//

  button
.form-input weather-search {
    display: block;
}